@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #3D1A0A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Primary & Secondary Brand Colors */
  --color-primary: #ff6a00bf;
  --color-primary-hover: #E56000;
  --color-secondary: #F5E1C0;
  --color-dark: #3D1A0A;

  /* Fonts */
  --font-sans: var(--font-nunito), Arial, sans-serif;
  --font-display: var(--font-poppins), Arial, sans-serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom CSS to hide spin buttons on number inputs */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
  appearance: textfield;
}
